//VARIABLES

$background-gray: rgb(50, 50, 50);
$dark-gray: rgb(100, 100, 100);
$medium-gray: rgb(130, 130, 130);
$light-gray: rgb(200, 200, 200);

//GENERAL

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $background-gray;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.App {
  display: grid;
  padding: .5em;
}

.button {
  border: none;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: .5em 1.4em; 
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: black;
  background-color: $light-gray;
  cursor: pointer;
}

.hovered {
  background-color: $dark-gray;
}

.input-box {
  display: flex;
  margin: .25em;
}

label {
  color: white;
  padding: .5em 1em;
  background-color: black;
  border-radius: 5px 0 0 5px;
}

input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  width: 1.4em;
  height: 1.1em;
}

.input-container {
  background-color: white;
  border-radius: 0 5px 5px 0;
  padding: .5em .5em;
}

//REGISTER AND LOGIN PAGES

.register {
  display: grid;
  justify-items: center;
  grid-gap: .5em;
  background: $medium-gray;
  border-radius: 5px;
  padding: .5em;
  margin: 2em auto;
}

.reg-title {
  margin: 0 0 .25em;
  font-size: 1.25rem;
}

.reg-input-box {
  margin: 0;
}

#reg-username {
  width: 10.75em;
}

#reg-password {
  width: 8em;
}

.reg-text {
  text-align: center;
  line-height: 1.6;
  margin: 0;
}

.lowercase {
  text-transform: lowercase;
}

//NAVIGATION

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5em;
  margin: 0 auto 1em;
  max-width: 600px;
}

.nav-button {
  flex: 1;
}

//CURRENT WORKOUT PAGE

.home {
  display: grid;
  justify-items: center;
}

.lifts-container {
  display: grid;
  justify-items: center;
  grid-gap: .5em;
  margin-bottom: 4em;
}

.lift-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $medium-gray;
  border-radius: 5px;
  padding: .25em;
}

#add-set-button {
  margin: .25em;
}

#Lift {
  width: 8em;
}

#Weight {
  width: 2em;
}

#save-button {
  width: 15em;
  height: 4em;
  margin-bottom: .5em;
}

.message {
  margin-bottom: 2em;
}

.timer {
  display: grid;
  grid-gap: .5em;
  background-color: $medium-gray;
  border-radius: 5px;
  margin-bottom: 2em;
  padding: .5em;
}

.timer-inputs {
  display: flex;
  justify-content: space-between;
}

#minutes-input,
#seconds-input {
  width: 1.59em;
  height: 1.25em;
  background-color: white;
  font-weight: 700;
  font-size: 4.25rem;
  border: 0;
  border-radius: 5px;
}

.timer-display {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0;
  height: 1.25em;
  background-color: white;
  border-radius: 5px;
  font-size: 4.25rem;
  font-weight: 700;
}

#start-button, #stop-button {
  width: 14em;
  height: 4em;
}

//HISTORY PAGE

.history {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 100%;
  max-width: 630px;
  margin: 0 auto;
}

.past-workout {
  display: grid;
  grid-gap: .5em;
  max-width: 660px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: .5em;
}

.date-text {
  justify-self: center;
  font-weight: 700;
  margin: .5em 0;
}

.past-lift {
  background-color: $light-gray;
  color: black;
  border-radius: 5px;
  line-height: 2;
  font-weight: 400;
  text-transform: none;
  padding: .5em .75em;
}

.past-lift-text {
  margin: 0;
}

.past-reps-text {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

#remove-button,
#logout-button-history {
  justify-self: center;
}

.bold-text {
  font-weight: 700;
}

//WEIGHT PAGE

.weight-container {
  display: grid;
  grid-gap: 1em;
  justify-items: center;
}

.weight-chart {
  width: 90%;
  max-width: 800px;
}

#weight-input-container {
  margin-right: .5em;
}

#weight {
  width: 2em;
}

//MEDIA QUERIES

@media (max-width: 400px) {  
  body {
    font-size: .85rem;
  }

  #minutes-input,
  #seconds-input,
  .timer-display {
    font-size: 3.6rem;
  }
}

@media (min-width: 1000px) {
  .home {
    align-items: start;
    grid-template-columns: 70% 30%;
    grid-template-rows: 15em 4em 4em 1em;
    grid-column-gap: 1em;
    grid-template-areas:
     "left timer"
     "left save"
     "left message"
     "left logout";
  }

  .lifts-container {
    grid-area: left;
  }

  .timer {
    grid-area: timer;
  }

  #save-button {
    grid-area: save;
  }

  .message {
    grid-area: message;
  }

  #logout-button-current {
    grid-area: logout;
  }
}